<header>
    <h1>
        Money Management
    </h1>
</header>
    
<div class="container">    
    <h2>
        こちらはメインページです
    </h2>
    
    <p>
        ログインされる方は<%= link_to 'こちら', top_login_page_path %>
    </p>
        
    <p>
        新規に登録される方は<%= link_to 'こちら', new_user_path %>
    </p>
</div>
    
<footer>
    <p>
      2011140053Nakamura&2011140088Izumi
    </p>
</footer>