<header>
    <h1>
        Money Management
    </h1>
</header>

<div class="confirmation">
    <h2>パスコードの確認</h2>
    <p>
        <%= form_tag '/top/confirmation_1', method: :post do %>
            <%= label_tag :passcode, 'パスコード' %>
            <%= password_field_tag :passcode %><br>
            <button class="button is-submit"><%= submit_tag '確認' %></button>
        <% end %>
    </p>
</div>

<footer>
    <p>
      2011140053Nakamura&2011140088Izumi
    </p>
</footer>