<% @financials.each do |e| %>
    <p>
        機関名：<%= e.insititution %>｜
        使用可能金額：<%= e.usable %>円｜
        <%=link_to '削除', "/financials/#{e.id}", method: :delete %>｜
        <%=link_to '編集', "/financials/#{e.id}/edit" %>
    </p>
<% end %>

<p>
    ＊金融機関名の変更や使用可能金額を変更する場合は編集をクリックしてください。
</P>