// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #add8e6;
    font-family: fantasy;
}

.alert{
    color: red;
    text-align: center;
    font-size: 2rem;
    font-family: fantasy;
}

p{
    width: 100%;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    text-align: center;
    color: black;
    background-color: #a9a9a9;
}